* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg , #b8c6db 0% ,#f5f7fa 74%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.quiz-container{
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    max-width: 100%;
}
.quiz-header{
    padding: 2rem;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    
    font-size: 1.2rem;
    margin: 1rem 0;

}
ul li label{
    cursor: pointer;
}
button{
    background-color: tomato;
    color: white;
    display: block;
    width: 100%;
    padding: 2rem;
    border: none;
    font-size: 1.5rem;
    overflow: hidden;
}
.quiz-container h2{
    padding: 10px;
    
}